*{
    margin:0;
}

html{
    background-color: #00283A;
}

header, main, footer{
    margin: 10px;
}

main{
    background-color: #1B3753;
    border-radius: 10px;
    padding: 20px;
    color: white;
}

.logo{
    height: 90px;
    margin: 10px 0;
}

.flex-container{
    background-color: #001119;
    display: flex;
    align-items:center;
    justify-content: space-evenly;
    border-radius: 10px;
}

.footer{
    justify-content:center;
}

.nav_menu{
    font-size: 20px;
    color: white;
    text-decoration: none;
    margin: 0px 100px;
}

.copyright{
    color: white;
    font-size: 20px;
    margin: 15px;
}

.anuncio{
    margin-top: 40px;
    display: flex;
    justify-content:space-around;
    align-items: center;
}

.anuncio div{
    max-width: 50%;
}

.anuncio .imagen{
    max-height: 300px;
    border-radius: 10px;
}

h1, h2, p{
font-size: 30px;
text-align: justify;
}

.comprar{
    background-color: #00283A;
    border-radius: 10px;
    padding: 5px 10px;
    display:inline-block;
    margin: 50px 0px;
    position: relative;
    left: 45%;
}

.comprar a{
    font-size: 40px;
    color: white;
    text-decoration: none;
}

.comprar a:hover{
    color: #F9F871;;
}

.promo{
    margin: 50px 10px;
    display: flex;
    justify-content: space-around;
}

.promo img{
    max-height: 100px;
}

.promo div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.promo p{
    font-size: 25px;
}

.combo{
    background-color: #0d76a3a9;
    padding: 10px 20px;
    border-radius: 10px;
}

.combo a img{
    border-radius: 5px;
}